.messages {
    display: flex;
    padding-top: 3rem;
    padding-left: 3.5rem;
    padding-right: 2rem;
}

.messageTime {
    min-width: 18%;
}

.date {
    color: #353535;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
}

.time {
    color: #353535;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
}

.messageContent {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0.035em;
}

@media  screen and (max-width: 720px) {
    .messages {
        padding-top: 1.5rem;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }

    .messageContent {
        margin-left: 1rem;
    }
}